{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container has-text-centered">
    <h3 class="title is-3">Artists</h3>
    <div class="columns">
      <div class="column is-3">
        <form method="GET" action="/artists/search">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input is-rounded" name="q" type="text" placeholder="Search...">
                <span class="icon is-left">
                  <i class="material-icons">search</i>
                </span>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="columns is-multiline">
      {% for item in artists %}
        <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <a href="/artists/show/{{item.id}}">
                  {% if item.has_image %}
                    <img src="/img/artists/{{item.id}}_big.jpg" alt="" />
                  {% else %}
                    <img src="/img/artists/placeholder_big.jpg" alt="">
                  {% endif %}
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a href="/artists/show/{{item.id}}">{{item.name}}</a></p>
                  <p class="subtitle is-6">{{item.location}}</p>
                </div>
              </div>
            </div>
            <div class="card-content">
              <time>Member since: {{item.created_at|date:shortDate}}</time>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}



















