{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-5 is-4-desktop">
        <form method="POST" action="/artists">
          {% csrf-field %}
            <div class="field">
              <div class="control">
                Username:
                  <input class="input" type="text" placeholder= "Username" name="username" value="{{username}}" />
              </div>
            </div>
            {% if errors.username %}
              <div class="notification is-danger">{{errors.username|join}}</div>
            {% endif %}
            <div class="field">
              <div class="control">
                Password:
                  <input class="input" type="password" placeholder="Password" name="password" value="{{password}}" />
              </div>
            </div>
            {% if errors.password %}
              <div class="notification is-danger">{{errors.password|join}}</div>
            {% endif %}
            <div class="field">
              <div class="control">
                Name:
                  <input class="input" type="text" placeholder="Name" name="name" value="{{name}}"/>
              </div>
            </div>
            {% if errors.name %}
              <div class="notification is-danger">{{errors.name|join}}</div>
            {% endif %}
            <div class="field">
              <div class="control">
                Location:
                  <input class="input" type="text" placeholder= "Location" name="location" value="{{location}}" />
              </div>
            </div>
            {% if errors.location %}
              <div class="notification is-danger">{{errors.location|join}}</div>
            {% endif %}
            <div class="field">
              <div class="control">
                Biography:
                  <textarea class="textarea" placeholder="Biography" name="bio">{{bio}}</textarea>
              </div>
            </div>
            {% if errors.bio %}
              <div class="notification is-danger">{{errors.bio|join}}</div>
            {% endif %}
            <input class="button is-dark"  type="submit" value="submit" />
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}