{% extends "base.html" %}
{% block content %}
 <div class="container is-widescreen">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="img/warning_clojure.png">
          <span class="card-title">{{artist.name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Username: {{artist.username}}</p>
          <p>Password Hash: {{artist.password_hash}}</p>
          <p>Location: {{artist.location}}</p>
          <p>Byography: {{artist.bio}}</p>
          <p>Created at: {{artist.created_at}}</p>
          <p>Updated at: {{artist.updated_at}}</p>
          {% ifequal identity.id artist.id %}
          <div class="field is-grouped">
            <p class="control">
              <a href="/artists/edit/{{artist.id}}" class="button is-info">Update</a>
            </p>
            <p class="control">
              <form method="POST" action="/artists/delete/{{artist.id}}">
                {% csrf-field %}
                <input class="button is-danger" type="submit" value="Delete"/>
              </form>
            </p>
          </div>
          {% endifequal %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}