<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to musicbook</title>

    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body style="background: url(/img/grey_background.jpg);">
      <!-- navbar -->
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
          <div class="container is-widescreen">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/" style="font-weight:bold;">musicbook</a>
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </a>
              </div>
              <div id="nav-menu" class="navbar-menu">
                  <div class="navbar-start">
                      <a href="/" class="navbar-item{% ifequal page "home.html" %} is-active{%endifequal%}">Home</a>
                      <a href="/about" class="navbar-item{% ifequal page "about.html" %} is-active{%endifequal%}">About</a>
                      <a href="/artists" class="navbar-item{% ifequal page "artists.html" %} is-active{%endifequal%}">Artists</a>
                      <a href="/bands" class="navbar-item{% ifequal page "bands.html" %} is-active{%endifequal%}">Bands</a>
                  </div>
                  <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="field is-grouped">
                        {% ifequal identity nil %}
                        <p class="control">
                          <a href="/login" class="button is-info">Login</a>
                        </p>
                        {% else %}
                        <p class="control">
                          <form method="POST" action="/logout">
                            {% csrf-field %}
                            <input class="button is-info is-inverted" type="submit" value="Logout"/>
                          </form>
                        </p>
                        {% endifequal %}
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </nav>

      <section class="section">
          <div class="container">
              {% block content %}
              {% endblock %}
          </div>
      </section>

    <!-- scripts -->
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>

    
    {% block page-scripts %}
    {% endblock %}

    <footer class="footer has-background-dark">
      <div class="container">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <a class="title is-4 has-text-light" href="/" style="font-weight:bold;">musicbook</a>
            </div>
            <p class="subtitle is-6 has-text-light">© 2019 Nadezda Nisic. All right reserved.</p>
          </div>
          <div class="level-right">
            <a class="level-item has-text-light" href="/about">About</a>
            <a class="level-item has-text-light" href="/artists">Artists</a>
            <a class="level-item has-text-light" href="/bands">Bands</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
