{% extends "base.html" %}
{% block content %}
{{info}}
 <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="img/warning_clojure.png">
          <span class="card-title">{{band.name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Location: {{band.location}}</p>
          <p>Byography: {{band.bio}}</p>
          <p>Created at: {{band.created_at}}</p>
          <p>Updated at: {{band.updated_at}}</p>
          <p>Owner: <a href="/artists/show/{{owner.id}}">{{owner.name}}</a></p>
          <hr />
          <p>Members:</p>
          <ul class="artists">
            {% for item in artists %}
              <li>
                <p>
                  <a href="/artists/show/{{item.id}}">{{item.name}}</a>
                  {% ifequal item.state_id 1 %}
                    {% ifequal identity.id item.artist_id %}
                      <form method="POST" action="/artists/accept-membership/{{identity.id}}">
                        <input style="display: none" type="text" name="band_id" value="{{band.id}}" />
                        <input type="submit" class="button is-primary" value="Accept"/>
                      </form>
                    {% else %}
                      (invited)
                    {% endifequal %}
                  {% endifequal %}
                  {% ifequal identity.id band.owner_id %}
                    <form method="POST" action="/bands/delete-membership/{{band.id}}">
                      <input style="display: none" type="text" name="artist_id" value="{{item.id}}" />
                      <input type="submit" class="button is-primary" value="Delete"/>
                    </form>
                  {% endifequal %}
                </p>
              </li>
            {% endfor %}
          </ul>
          {% ifequal identity.id band.owner_id %}
            <hr />
            <p>Add new member</p>
            <form method="POST" action="/bands/create-membership/{{band.id}}">
              {% csrf-field %}
              <input class="input" type="text" name="artist_name" value="" />
              <input type="submit" class="button is-primary" value="Submit"/>
            </form>
            <hr />
            <a href="/bands/edit/{{band.id}}" class="waves-effect waves-light btn-small">Update</a>
            <form method="POST" action="/bands/delete/{{band.id}}">
              {% csrf-field %}
              <input type="submit" class="button is-primary" value="Delete"/>
            </form>
          {% endifequal %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}