{% extends "base.html" %}
{% block content %}
{{info}}
 <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="img/warning_clojure.png">
          <span class="card-title">{{band.name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Location: {{band.location}}</p>
          <p>Byography: {{band.bio}}</p>
          <p>Created at: {{band.created_at}}</p>
          <p>Updated at: {{band.updated_at}}</p>
          <ul class="artists">
            {% for item in artists %}
              <li>
                <p>{{item.name}}</p>
                <p><a href="/artists/show/{{item.id}}">{{item.id}}</a></p>
                <form method="POST" action="/bands/delete-membership/{{band.id}}">
                  <input class="input" type="text" name="artist_id" value="{{item.id}}" />
                  <input type="submit" class="button is-primary" value="Delete"/>
                </form>
              </li>
            {% endfor %}
          </ul>
          <form method="POST" action="/bands/create-membership/{{band.id}}">
            <input class="input" type="text" name="artist_id" value="" />
            <input type="submit" class="button is-primary" value="Submit"/>
          </form>
          <a href="/bands/edit/{{band.id}}" class="waves-effect waves-light btn-small">Update</a>
          <form method="POST" action="/bands/delete/{{band.id}}">
            <input type="submit" class="button is-primary" value="Delete"/>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}